@media screen and (min-width: 1200px) {
    
/*START*//*START*//*START*//*START*//*START*//*START*//*START*/

.text-center-lg {
    text-align: center;
}

.nav-site-logo {
    margin-left: 18px;
}

.nav-time {
    width: 350px;
    margin-left: 10px;
}

.nav-search {
    width: 327px;
}

.nav-links {
    width: 175px;
}

.nav-language {
    padding-left: 7px;
}

.nav-language span {
    margin-left: 15px;
}

.nav-iconbar a {
    padding: 21px 52px 22px 32px;
}

.dropdown-content {
    width: 1169px;
    position: absolute;
    right: -63px;
    top: 47px;
}

/* BASIC */

.header-international-news {
    height: 200px;
}

.main-first-column {
    margin-right: 40px;
}


/* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR */


.nav-pillslar {
    display: flex;
}

.nav-link-news {
     padding-left: 15px;
     padding-right: 15px;
}

.nav-link-fashion {
     padding-left: 15px;
     padding-right: 15px;
}

.nav-link-gadgets {
     padding-left: 15px;
     padding-right: 15px;
}


.nav-link-video {
     padding-left: 15px;
     padding-right: 15px;
}

.nav-link-homelayouts {
     padding-left: 15px;
     padding-right: 15px;
}

.nav-link-features {
     padding-left: 15px;
     padding-right: 15px;
}

.nav-link-world {
     padding-left: 15px;
     padding-right: 15px;
}


/* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR */

.row-lg-md {
    padding-left: 20px;
    padding-right: 20px;
}

.row-p-lg-md {
    padding-left: 30px;
    padding-right: 30px;
}

.yellow-div span {
    font-size: 30px;
}

.form-name {
    padding-left: 0;
}

.form-number {
    padding-right: 0;
}








































/* BASIC */






/*END*//*END*//*END*//*END*//*END*//*END*//*END*//*END*//*END*/
    
}


@media screen and (min-width: 1000px) and (max-width: 1500px) {

.container-breadcrumb {
    width: 100%;
}

.container-fluid-main {
    width: 100%;
}

.twitter-container-header {
    width: 100%;
}

}




@media screen and (min-width: 1500px) {

.fixed-left {
    position: absolute !important;
}

}