@media screen and (min-width: 768px) and (max-width: 991px) {

/*START*//*START*//*START*//*START*//*START*//*START*//*START*/

.text-center-sm-and-xs {
    text-align: center;
}

.text-center-sm {
    text-align: center;
}

.second-line {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-site-logo {
    margin-left: 290px;
}

.navbar-1-part, .navbar-2-part {
    border: 0 !important;

}


/* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR */


.nav-pillslar {
    display: flex;
}


.nav-navs-all ul li {
    position: relative;
    left: 60px;
}

/* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR *//* DIFFICULT NAVBAR */




.navbar-2-part {
    border-left: 1px solid black !important;
}

.nav-navs-all ul {
    padding: 0;
}


.nav-navs-all {
    border-right: 0 !important;
}

.footer-magazin {
    background-position: 40px 0 !important;
}

.footer-span-magazin {
    position: relative;
    right: 10px;
}

.nav-navs-all ul li {
    padding-right: 5px;
    padding-left: 3.6px;
}

/* BASIC */

.aside-right {
    text-align: center;
}

.yellow-div span {
    font-size: 22px;
}

.main-progress-div span {
    padding-left: 10px;
    padding-right: 10px;
}

.share-big {
    text-align: center;
}

.main-share-social {
    margin-bottom: 30px;
}

.form-horizontal {
    margin-top: 10px;
}

.form-name {
    padding-left: 0;
}

.form-number {
    padding-right: 0;
}























































/* BASIC */


/*END*//*END*//*END*//*END*//*END*//*END*//*END*//*END*//*END*/

}